// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $my-black: #13334c;
// $my-blue: #005792;
// $my-white: #f6f6e9;
// $my-red: #fd5f00;

$my-black: #2d4059;
$my-blue: #2d4059;
$my-white: #e5e5e5;
$my-red: #ea5455;
