<p>Bonjour <%= @user.first_name %>,</p>

<br>

<p>I'm Nelly, French Teacher and creator of The French Cloud!</p>
<p>You have just created an account on The French Cloud.</p>

<br>

<p>The next step to enjoy the conversation sessions and French classes? Choose a subscription!</p>
<p>You can choose your plan <%= link_to "here", plans_url %>.</p>
<p>It's without obligation and you have 10 days on "Le Curieux" to test it and see if you like it.</p>

<br>

<p>Still hesitating?</p>
<p>Then, I invite you to a free session to come and try the zoom classes with our members.</p>
<p><strong>Reply me to this mail</strong> with your level so that I can send you the according zoom link.</p>

<p>If you have any questions, feel free to ask.
You are welcome even if you are a beginner :)</p>

<br>

<p>Bonne journée !</p>
<p>Nelly</p>
