<p>Bonjour <%= @user.first_name %>,</p>
<p>I'm Nelly, French Teacher and creator of The French Cloud!</p>
<p>You have just created an account on The French Cloud.</p>

<p>Then I have a surprise for you... I invite you to a Zoom chat session that will take place on Sunday, December 6th at 11:30am (Paris time). To join us, it's very simple, here is the link and the password:</p>
<ul>
  <li>URL: <%= link_to "click here", "https://u-paris.zoom.us/j/85209804593?pwd=VnYyMEJiSCtUQmYvdUo2K3FxY2JKdz09" %></li>
  <li>Meeting ID: 852 0980 4593</li>
  <li>Password: 579548</li>
</ul>

<p>If you have any questions, don't hesitate.
You are welcome even if you are a beginner :)</p>


<p>The next step to enjoy the conversation sessions and French classes? Choose a subscription!</p>
<p>You can choose your plan <%= link_to "here", plans_url %>.</p>
<p>It's without obligation and you have 10 days on "Le Curieux" to test it and see if you like it. If you have any questions, don't hesitate to ask me.</p>
<p>Bonne journée !</p>
<p>Nelly</p>
