<p>Bonjour <%= @user.first_name %>,</p>

<p>Thank you for your subscription!</p>

<p>I am Nelly, French teacher and creator of The French Cloud. Welcome in the team! 😎
I'll let you read this little guide below.</p>
<p>The first thing to do is to join our Slack discussion group by registering <%= link_to "here", "https://join.slack.com/t/thefrenchcloud/shared_invite/zt-klsf8a3a-LZLZaFPEdwaycjPsbg~wMg" %>. You'll have access to all the content, and the conversation sessions.</p>
<p>Don't hesitate if you have any questions. I'm available by email, on Slack. Otherwise you can consult the <%= link_to "F.A.Q.", faq_url %></p>
<p>Bonne journée et à bientôt !</p>
<p>Nelly</p>
<%= image_tag "welcome-subscriber.png" %>
