// Specific CSS for your home-page
#pages-home h2 {
  font-weight: bold;
  text-align: center;
}

.key-selling-points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.ksp {
  text-align: center;
  padding: 15px;
  p {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .key-selling-points {
    grid-template-columns: repeat(1, 1fr);
  }
}

.what-is-it-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  align-items: center;

  .left-side-grid {
    width: 100%;
  }

  img {
    width: 100%;
  }

  p {
    text-align: justify;
  }

  .right-side-grid {
    text-align: center;
    width: 100%;
  }

}

.background-colored {
  background: linear-gradient(45deg, rgba(58, 66, 159, 0.5), rgba(197, 72, 72, 0.5));
  padding: 100px 0px;
  h2, p {
    color: white;
  }
}

@media (max-width: 768px) {
  .what-is-it-grid {
    grid-template-columns: repeat(1, 1fr);

    .left-side-grid {
    width: 100%;
    margin-right: 0px;
    }

    img {
      width: 100%;
    }

    .right-side-grid {
      width: 100%;
      margin-left: 0px;
    }
  }
}

#pages-home .footer {
  margin-top: 0px !important;
}
