<div class="container">
  <h1 class="text-center mb-5" style="font-weight: bold;">Discover your classmates</h1>
  <div class="usercard-container">
    <% @users.select { |user| user.subscribed? || user.admin? }.each do |user| %>
      <%= render 'shared/usercard', user: user %>
    <% end %>
  </div>
  <% if current_user.admin? %>
      <h2 class="text-center my-5">Unsubscribed users</h2>
      <div class="usercard-container">
        <% @users.select { |user| !user.subscribed? && !user.admin? }.each do |user| %>
          <%= render 'shared/usercard', user: user %>
        <% end %>
      </div>
      <h2 class="text-center my-5">Total: <%= @users.count %></h2>
    <% end %>
</div>
