<h2 class="text-center mb-3">Modalities</h2>
<ul>
  <li>There is no obligation to come every week. Most important is to have fun practicing and learning.</li>
  <li>1 hour every Sunday</li>
  <li>Small groups (between 3 and 10 learners)</li>
  <li>Takes place on Zoom</li>
  <li>Different topic every week</li>
  <li>Two groups of levels</li>
  <li>With a certified French teacher</li>
  <li>Monthly subscription of 12.90 euros per month</li>
</ul>

<h2 class="text-center mb-3">Choose your group</h2>
<div class="levelbox-container">
  <div class="levelbox">
    <h2>Beginners</h2>
    <h2>A1 / A2</h2>
    <h3>Every Sunday at 10:15AM (Paris Time)</h3>
    <p>You can introduce yourself and make a few simple sentences in French</p>
  </div>

  <div class="levelbox">
    <h2>Advanced</h2>
    <h2>B1 / B2 / C1</h2>
    <h3>Every Sunday at 9AM (Paris Time)</h3>
    <h3>or every Monday at 6PM (Paris Time)</h3>
    <p>You are quite comfortable in French but you need to perfect it, to practice to be more fluent.</p>
  </div>
</div>

<div class="mt-5">
  <h2 class="text-center mb-3">Testimonials</h2>
  <div class="testimonial">
    <%= image_tag "cs_ankan.jpg", alt: "Ankan" %>
    <div class="body">
      <p>“I'm glad I found this club. It is really helpful to improve your french. Our teacher Nelly is wonderful and really patient with us. Also, we come to know people of different cultures from different parts of the world! Everyone, including our teacher, is really friendly here."</p>
      <p>Ankan, India</p>
    </div>
  </div>
</div>

<br>
<div class="text-center my-5">
  <h2 class="mb-4">Try one session for free</h2>
  <%= link_to "Free trial", "mailto:contact@thefrenchcloud.com?subject=Free%20trial%20request&body=Hello,%0dI%20would%20like%20to%20participate%20to%20the%20next%20conversation%20session%20as%20part%20of%20the%20free%20trial.", class: 'btn-main' %>
</div>
<hr>