<div class="container">
  <h1>Book an 1-hour private lesson</h1>
  <p>Steps to follow:</p>
  <ol>
    <li>Proceed to checkout</li>
    <li><%= link_to "Send a mail", "mailto:thefrenchclub@gmail.com" %> to Nelly with 3 time slots proposals</li>
    <li>Nelly will get back to you and send you all the information for the 1:1</li>
  </ol>
  <%= form_tag orders_path do %>
    <%= submit_tag "Book now", class: 'btn btn-primary', id: 'pay' %>
  <% end -%>
</div>
