<div class="container">
  <h1 class="mb-5">About me</h1>
  <div class="d-flex">
    <%= image_tag 'nelly2.jpg', style: 'width: 500px; object-fit: cover; object-position: center;'%>
    <div class="content ml-5">
      <p>My name is Nelly, I am a French teacher graduated from the Université de Paris.
      Before that, I grew up in the warm atmosphere of the South of France, in the city of Toulouse, and I have been living in Paris for several years now.
      I love walking aimlessly around the city, discovering new places, sitting at a café to work or just observing the life around me.
      I also love caramel coffee, asian food, spring, books, animals (a lot), the mountain... and so many other things!</p>

      <p>After my studies and a few teaching experiences, I wanted to start a company that looks like me, to transmit my passion for the French language and culture in another way.
      For me, learning a language is more than just mastering grammar or vocabulary. Learning a language is offering a new way of seeing the world, of thinking about it.
      I want to give students from all over the world the opportunity to become part of a community of caring learners, in which everyone is free to make mistakes, to learn, to share their questions, interrogations and discoveries as well.
      To be culturally enriched, to create links.</p>

      <p>At the heart of my method, there are 3 important elements: practice as much as possible, accept mistakes, learn with pleasure.
      To do this, I propose a lot of informal learning: starting from a subject that interests us, we are curious, we read, we learn.
      That's why I have at heart to offer a diversity of subjects to my learners, related to culture, cinema, gastronomy...</p>

      <p>By creating the French Cloud, I wanted to create a safe place where we can put aside our fears to learn and progress together.
      No judgment, no pressure, but a lot of mutual help and benevolence.</p>

      <p>"Practice makes perfect" as they say.
      Or rather: "practice, make mistakes, start over and it will be perfect".</p>

      <p>Otherwise, do you know Marcel Proust?
      He is a French writer who created a famous questionnaire to talk about oneself in a different way.
      Here are my answers, you will learn a little more about me.</p>

      <ul>
        <li>The main trait of my character: benevolence</li>
        <li>What I appreciate most about my friends: their spontaneity.</li>
        <li>My main flaw: impatience</li>
        <li>My favorite occupation: playing guitar, laugh and travel</li>
        <li>The country where I would like to live: France 😉, Canada, Thailand...</li>
        <li>The flower I love: Poppies</li>
        <li>My favorite poets: Apollinaire, Baudelaire and Rimbaud</li>
        <li>My favorite painters: The impressionists, Hopper</li>
        <li>What I hate most of all: Injustice, hypocrisy, violence</li>
        <li>My motto: <em>"I never lose, either I win or I learn" (Mandela)</em></li>
      </ul>
    </div>
  </div>
</div>
