<div class="container">
  <h1 class="text-center my-5">Sessions of the month</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= image_tag "march-planning.png", alt: "Planning of the month: March 2021", style: 'width: 100%;' %>
    </div>
  </div>
</div>
