<div class="container">
  <h1 class="text-center my-5">Frequently Asked Questions</h1>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is the level of students in the club?
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          The students all have different levels. There are complete beginners, false beginners, more advanced students... This is the strength of our group. The more advanced students help the beginners, the beginners are inspired by the more advanced... This is the spirit of the club. There are also students of all ages and nationalities.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What are the topics covered in the club?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          There is a very large variety of themes and topics in the club, so you look at the content that interests you: French cinema, cooking, we talk about french news, and of course grammar, vocabulary... It's very open. Members are free to post messages whenever they want, on the topics they want to share.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Does The French Cloud propose French courses?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          The particularity of "The French Cloud" is to offer another way of learning based on interaction, informal learning, conversation sessions... By joining us, you become part of a community of learners. You have access to our collaborative work platform, from which you can freely interact with the French teachers in private messages or in different channels and with other students. You have access to the conversation sessions that are held every week. If you subscribe, you also have additional sessions every week as well as access to a toolbox that offers you support materials to help you in your learning (for example, grammar sheets). You can refer to it whenever you have any doubts.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How do I join the club?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          It's very simple. Just follow the steps below:
          <ol>
            <li>Create an account on the website</li>
            <li>Choose the pack you want in the "Pricing" tab, and click on "Subscribe"</li>
            <li>Enter your credit card details</li>
            <li>You will receive a confirmation by email with a link to create your account on our Slack</li>
            <li>Click on the link and create your account on Slack</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Are there individual conversation sessions?
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          No, individual classes are not included in the subscription, they are extra. However, you do have access to the small group conversation sessions that take place every week via Zoom. Every student participates. I am also available via slack to answer all your questions about French.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            How are the weekly conversation sessions going?
          </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <p>Whatever your subscription, Le Curieux or Le p'tit French, you have access to the weekly Zoom conversation sessions (they are not mandatory).</p>
          <p>They take place in small groups of levels (beginners, more advanced levels...).  You choose the group in which you are most comfortable, I am here to advise you. Sessions are held in small groups (less than 10 people) so that everyone can participate.</p>
          <p>Each session has a theme that I usually announce 5 days before the session so that you have time to prepare if you wish. I post content to help you all the week before so you can practice, think, and express yourself more easily.</p>
          <p>Be reassured, the atmosphere is very friendly, we talk with kindness, I'm always here to help you if you need it.</p>
          <p>Sessions usually take place on Sundays, at 9:00 or 10:00 am. Please note that all courses are indicated with the Paris time zone. Remember to check what time this corresponds to in your country. I will send you the Zoom link via the slack (in the #zoomsessions channel) before the session.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            What are the extra conversation sessions in "Le p'tit french"?
          </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          <p>They are sessions made for YOU, according to your needs and availability, in small groups. Tell me if you want to see a particular grammar point, a conversation theme...</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          I want to change my subscription plan, how can I do it?
        </button>
      </h2>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
        <p>It's very simple, go to "pricing" page and select the subscription you are interested in by clicking on "subscribe" and then on "change plan". You don't need to enter your bank details again, you will be debited on the card of your old subscription. The amount charged will be recalculated according to the prorata of the days consumed of the old subscription.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingNine">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Can I stop my subscription whenever I want?
        </button>
      </h2>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body">
        <p>Yes, you are not committed. At any time, you can email me at <a href="mailto:contact@thefrenchcloud.com">contact@thefrenchcloud.com</a> to cancel your subscription. Please note: each month started is paid and cannot be refunded. You have to inform me at least 7 days before the next collection date.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTen">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          How do I change my payment method?
        </button>
      </h2>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
        <p>Once you have subscribed to a subscription, you go to the “My subscription” tab, click on “Add a card” and enter the details of this new card. Then click on “Change to this card.”</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEleven">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          How do I delete my payment method?
        </button>
      </h2>
    </div>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
      <div class="card-body">
        <p>In the "My subscription" tab, select the credit card you want to delete and click on "Delete this card". Be careful, you cannot delete a credit card that is already used for your subscription.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwelve">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          Can I use the Slack on my smartphone or tablet?
        </button>
      </h2>
    </div>
    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
      <div class="card-body">
        <p>Yes, there is a Slack application (downloadable on App Store & Play Store) that allows you to access the exchanges at any time. I advise you to install the application on your phone and computer.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThirteen">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
          I want to take the DELF / DALF, how do I prepare?
        </button>
      </h2>
    </div>
    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
      <div class="card-body">
        <p>We do not yet offer personalized support to prepare for the exams, but you will find a dedicated channel where students share their experiences on this subject, tips and advice... Those who have already taken the exam can guide you. Moreover, joining "The French Cloud" is a great way to practice French and keep in touch with French cultural life, current events, review grammar points and of course, practice! All of this is very useful to fuel your thinking about the language. A precious help to pass the exams.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFourteen">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
          Who is behind The French Cloud?
        </button>
      </h2>
    </div>
    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
      <div class="card-body">
        <p>I'm Nelly, the founder of The French Cloud, who takes care of managing the Slack, animating the conversation sessions, answering your emails etc. If you want to learn more about me, it's <%= link_to "here", about_me_path %>.</p>
        <p>The website has been developed by Anthony. Should you need any help on the website, you can ping him on Slack 🙏.</p>
      </div>
    </div>
  </div>
  <h2 class="text-center mt-5">Didn't find your question?</h2>
  <p class="text-center">Write me at <a href="mailto:contact@thefrenchcloud.com">contact@thefrenchcloud.com</a></p>
</div>
