<div class="container">
  <h1 class="text-center">The French School</h1>
  <h2 class="text-center">For motivated learners who want to progress</h2>
  <h2 class="text-center mt-4">MAY - JULY 2021</h2>

  <h3>What is it?</h3>
  <p>A trimester of french group courses according to your level. It allows you to increase your level of French. 
  We work on all aspects of the language: grammar, vocabulary, written and oral expression skills, and comprehension also.</p>
  <p>In addition, French culture is an important element that we talk about a lot during the classes. We use a textbook to have a good progression.</p>
  <p>Some tests and homework will help to improve, become aware of your abilities and track your progress.</p>

  <h3>Perfect for you if...</h3>
  <ul>
    <li>You are really passionated about French</li>
    <li>You really want to improve your French skills or start to learn it</li>
    <li>You are tired of learning French from videos or apps</li>
    <li>You can't find native and certified teachers next to you</li>
    <li>You are benevolent and kind and want to learn in a friendly atmosphere</li>
  </ul>

  <h3>I am Nelly, your French teacher!</h3>
  <%= link_to "Learn more", about_me_path %>

  <div class="levelbox-container mt-5">
  <div class="levelbox">
    <h2>Objectif A1</h2>
    <h2>A1 / A2</h2>
    <h3>Every Sunday at 10:15AM (Paris Time)</h3>
    <p>You can introduce yourself and make a few simple sentences in French</p>
  </div>

  <div class="levelbox">
    <h2>Objectif B2</h2>
    <h2>B1 / B2 / C1</h2>
    <h3>Every Sunday at 9AM (Paris Time)</h3>
    <p>You are quite comfortable in French but you need to perfect it, to practice to be more fluent.</p>
  </div>
</div>
</div>
