<div class="container">
  <h1 class="text-center"><strong>LEGAL NOTICES AND GENERAL TERMS OF SALE</strong></h1>
  <p><br></p>
  <p><strong>1 - Identification and contact details of the Seller</strong></p>
  <p>The French Cloud www.thefrenchcloud.com is owned by Nelly Frisicaro (the seller) as a sole proprietorship whose Siren Number is 889290698 and Siret Number is (88929069800014). To contact Nelly Frisicaro: contact@thefrenchcloud.com. Tel: +33 6 99 48 00 82.</p>
  <p><br></p>
  <p><strong>2 - Scope of application</strong></p>
  <p>The French Cloud is an online platform offering access to French language learning. The Seller, Nelly Frisicaro, offers for sale a membership to The French Cloud in dematerialized form, according to the formula chosen by the buyer.<span class="Apple-converted-space">&nbsp;</span></p>
  <p>The offer and sale of products or services made on the site are regulated by these Terms of Sale.</p>
  <p>The user and customer of the Site is required to read these Terms of Sale carefully before paying for membership. By validating and accepting the order, the customer expressly agrees to have read and be fully informed of the content of these Terms of Sale and accepts without reservation what they imply.<span class="Apple-converted-space">&nbsp;</span></p>
  <p>We remind the customer that once the online purchase process is completed, he must print and keep these conditions and the order form that he will have received.</p>
  <p>The Seller reserves the right to revise, adapt and modify at any time these Terms of Sale. Consequently, the customer will be asked to accept in full the Terms of Sale in force at the time of purchase. The new Conditions of Sale will be valid from the date of their publication on the website for orders placed from that date, without prejudice to the fact that a law or government decision obliges the website to make changes of a retroactive nature in the said Conditions of Sale.</p>
  <p><br></p>
  <p><strong>3 - Services and sales process<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p><strong>3.1 Age<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>Registration to our website is for adults (at least 18 years old). If the registration of a person under 18 years old is detected, his/her account will be automatically deleted. To contact the Seller, you must be at least 18 years old or be of legal age in the country of residence.</p>
  <p><span class="Apple-converted-space">&nbsp;&nbsp;</span></p>
  <p><strong>3.2 The payment gives access to the content of the chosen pack<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>After joining, depending on the pack chosen, the member will have privileged access to the exchange platform (slack), as well as the service it contains (conversation sessions, advice from teachers, etc). The member will have access to the events and meetings organized by The French Cloud as well as to the various advantages offered by the club.<span class="Apple-converted-space">&nbsp;</span></p>
  <p><strong>3.3 Limitation of liability</strong></p>
  <p>The Seller will not assume any liability if the product is not delivered because the customer has provided false or inaccurate data, or for causes beyond the control of the Seller.</p>
  <p>The Seller will not assume any responsibility for the content or operation of third party websites that the user can access through any type of link.</p>
  <p><br></p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>3.4 Registration and Membership</strong></p>
  <p>The buyer will have to create a user account on the web platform www.thefrenchcloud.com. When registering through the form, the candidate indicates his willingness to join The French Cloud and accepts these terms and conditions.</p>
  <p>- The first monthly payment</p>
  <p>To place an order, the customer will have to follow the online purchase process of the website. Once the customer has correctly entered his data and clicked on &quot;Order&quot;, the order will be processed in accordance with these Terms and Conditions of Sale.</p>
  <p>The Seller will send an e-mail with the order form as confirmation and conclusion of the contract. The customer will thus have access to the services and benefits included in the chosen formula.</p>
  <p>Upon acceptance of the application (or the first monthly payment), the applicant becomes member.</p>
  <p>The status of member gives the right to access the services at The French Cloud which are exclusively reserved for them.</p>
  <p>The Seller may not process the order forms if it does not have sufficient guarantees of solvency, if they are incomplete or inaccurate or in case of unavailability. In this case, the Seller shall inform the customer by e-mail that the contract has not been concluded and that the order has not been processed, specifying the reasons. In this case, the expected amount withheld in the customer&apos;s payment method will be deactivated.</p>
  <p><br></p>
  <p><strong>4 - Financial conditions</strong></p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>4.1 Product prices</strong></p>
  <p>Unless otherwise specified, all prices of products and services are inclusive of tax. The validity of the prices will always be as indicated on the website at the time of placing the order.<span class="Apple-converted-space">&nbsp;</span></p>
  <p>The prices of the products and services indicated on the website and on the order form may change at any time, but the possible changes will not affect orders for which the Seller has already sent a confirmation or which are already committed.<span class="Apple-converted-space">&nbsp;</span></p>
  <p>The Customer accepts the electronic invoice received by e-mail as a form of delivery. The Customer may revoke this form of invoicing by notifying the Seller at the address indicated in our contact information.</p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>4.2 Commitment <span class="Apple-converted-space">&nbsp;</span></strong></p>
    <p>Monthly subscription "Le Curieux": €12.90/month</p>
    <p>Monthly subscription "Le p'tit French: €19.90/month</p>
  <p>In the case of a monthly subscription, each month started is due.<span class="Apple-converted-space">&nbsp;</span></p>
  <p>Every month, the subscription is automatically renewed by tacit agreement. Automatic withdrawal at the beginning of the month.<span class="Apple-converted-space">&nbsp;</span></p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>4.3 Termination<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>If the buyer subscribes to a monthly subscription, he can cancel his subscription and leave the group. To do this, he agrees to give 7 days notice before the end of the subscription otherwise the following month will be charged automatically. Send an email to contact@thefrenchcloud.com to cancel the subscription. The subscription fee will not be refunded even if the member has stopped using the services.</p>
  <p>Membership to The French Cloud is concluded for a period of one month or one year and is tacitly renewed.</p>
  <p>Any member who does not comply with these terms and conditions may have his membership terminated by written notice by e-mail. In the event of more serious breaches by the member, membership may be terminated with immediate effect, in particular in the event of misuse of the database, transmission of the database to third parties, canvassing of members for customers or attitudes that may be qualified as acts of unfair competition, and this, towards other members or The French Cloud itself.<span class="Apple-converted-space">&nbsp;</span></p>
  <p>The member cannot claim a partial refund of his annual or monthly membership fee.</p>
  <p>In case of non-payment of the membership fee, the membership contract will be deemed terminated after two reminders sent by e-mail. In any case, the membership fee is due until termination.</p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>4.4 Methods of payment</strong></p>
  <p>For the payment of products and services, the customer will be able to choose one of the methods indicated in the purchase process on the website.</p>
  <p>The methods of payment offered by the Seller are :</p>
  <p>By credit card / automatic</p>
  <p>No refund possible.</p>
  <p>Renewable by tacit agreement</p>
  <p>Service Stripe <span class="Apple-converted-space">&nbsp;</span></p>
  <p><br></p>
  <p><strong>5 - Right of withdrawal</strong></p>
  <p>According to article 103 of the Law on the Defense and Rights of Consumers and Users, there will be no right of withdrawal and the customer declares to be informed of this exception and accept it in contracts concerning :</p>
  <p>&quot;digital content (in classic format or online) other than in material support if the performance has begun with the prior express consent of the consumer and, informed that as a result, he loses his right of withdrawal. &raquo;</p>
  <p>If the customer has purchased one of the products or services on the website, mentioned above as exceptions to the general standard, such as access to the exchange platform in digital format, he will not be able to exercise his right of withdrawal according to the provisions of the said article 103 of the LDDCU.</p>
  <p><br></p>
  <p><strong>6 - Data protection</strong></p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>6.1 Users&apos; Personal Data<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>The French Cloud undertakes to protect the personal data of users and to make use of it strictly related to the services offered in the membership contract and on the website.</p>
  <p>The member may request at any time that his data is no longer used.</p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>6.2 Intellectual Property<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>The contents of the website, such as texts, photos, graphics or source code, are protected by intellectual and industrial property rights.</p>
  <p>These contents may not, among others, be reproduced or transformed without the prior and explicit authorization of the Seller.</p>
  <p>The name The French Cloud, the logo, as well as all derived products, information, images, databases and content published on the website are protected by copyright and other intellectual property rights belonging to The French Cloud.</p>
  <p>Any modification, duplication, alteration, publication, transmission to third parties or other use of the protected works and content without the prior written permission of The French Cloud is prohibited.</p>
  <p>Nelly Frisicaro, The French Cloud, however, authorizes the use of the name The French Cloud and the logo by its members as a reference to identify it as belonging to the club.</p>
  <p>The use of The French Cloud name and logo to sell or offer the Member&apos;s own services or products is strictly prohibited.</p>
  <p>By agreeing to these terms and conditions, the Member acknowledges Nelly Frisicaro, The French Cloud, as the owner of the intellectual property rights and will not do anything contrary to them.</p>
  <p>In the event of termination, regardless of which party terminates it, continued use of The French Cloud name and logo is strictly prohibited. Use must cease immediately.</p>
  <p><strong><span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>6.3 Photos and videos credits<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>Credits for homepage icons: Freepik <%= link_to "https://fr.freepik.com/", "(website)" %></p>
  <p>Credits for lessons photos: Unsplash <%= link_to "https://unsplash.com/", "(website)" %></p>
  <p>Credits for the homepage vieo: Pexels <%= link_to "https://wwww.pexels.com/", "(website)" %></p>
  <p><br></p>
  <p><strong>7 - Site availability<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>The French Cloud reserves the right to modify, suspend or close its website at any time. Despite the desire to offer a service without technical disruption, update or development work may affect the use of the site and cause irregularities or interruptions in its access.</p>
  <p>The French Cloud offers no guarantee regarding the availability of the site or a possible loss of data during these interruptions.</p>
  <p>Links to other third-party websites not operated by The French Cloud are provided solely for the convenience of the user. However, their operators are solely responsible for their content.</p>
  <p>Nelly Frisicaro is not responsible for any conversations that may occur in the club. Members take responsibility for these conversations and documents exchanged. No fault or damage can be caused by Nelly Frisicaro.<span class="Apple-converted-space">&nbsp;</span></p>
  <p><br></p>
  <p><strong>8 - Common standards for the use of the platform<span class="Apple-converted-space">&nbsp;</span></strong></p>
  <p>The user agrees to use the platform in accordance with the following standards:</p>
  <p>- Not to publish commercial communications through the website.</p>
  <p>- Not to compile contents or information from other users.</p>
  <p>- Not to load viruses or malware of any type.</p>
  <p>- Do not try to log in or access an account belonging to another user.</p>
  <p>- Do not disturb, intimidate or harass another user.</p>
  <p>- Not to carry out illicit, false, malicious or discriminatory acts on the website, in accordance with these conditions and Spanish law.</p>
  <p>- Not to do anything that could jeopardize the security of your account, especially with regard to your password. In fact, he will communicate any incident related to his password, account, violation of his data, danger or threat detected in the security of his data.</p>
  <p>The Seller may remove any content or suspend the service if, in its opinion, it fails to comply with any of the standards and obligations detailed in these conditions.</p>
  <p>For any consultation or clarification regarding these community standards or these terms and conditions, you may contact us by email.</p>
  <p><br></p>
  <p><strong>9 - Applicable legislation, solution of controversies and competent law</strong></p>
  <p>The use of the website and the contracts for the purchase of products through this website will be governed by Spanish legislation.</p>
  <p>The European Commission makes available to all consumers an online dispute resolution platform that you can access through the link: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/<a>. Consumers will be able to submit their complaints through this online dispute resolution platform.</p>
  <p>In any case, if applicable, any controversy arising or related to the use of the website or to remote contracts with other companies regarding the use of this website, will be subject to the non-exclusive jurisdiction of the courts corresponding to the municipality of the Seller&apos;s registered office (France) unless the current regulations establish a separate mandatory law.</p>
</div>
