<div class="container">
  <h1 class="text-center my-5">Rules of The French Cloud</h1>
  <p>Welcome to the exclusive French club "The French Cloud". I am delighted to welcome you.
    Here are a few important points concerning the club's operation.
    By joinging us, you commit yourself to respect these few principles.</p>
  <ol class="mb-5">
    <li><strong>Practice makes perfect</strong></li>
    <p>The more active you are in the group, the more you will progress.
    Being active: helping others, asking questions, participating in conversation sessions, being curious... nothing is compulsory, build your learning at your own pace.
    If you are comfortable in French, help others: it is by teaching that you learn best.
    If you are a beginner, ask for help, again and again!</p>
    <li><strong>Benevolence zone</strong></li>
    <p>All members have different levels, mistakes are normal, they are accepted and even encouraged.
      We help each other and correct each other with kindness, without any judgment.
      Welcome new members as warmly as you would like to be welcomed, make them feel love!
      No hate, sectarianism, racism, or disrespectful comments.</p>
    <li><strong>Ask</strong></li>
    <p>If you have a problem concerning: the functioning of slack, your subscription, a question related to the French language or culture, do not hesitate.
      You can ask Nelly or another member, privately or in a channel.
      Ask for help as often as you want, no stupid questions.
      We always learn.</p>
    <li><strong>Share</strong></li>
    <p>Contribute to the rest of the club: by your answers to comments/questions.
      By being available. Share your discoveries, your culture, your questions. Your tips to progress.
      Your results which will motivate other people to tell themselves that it is possible for them too.</p>
    <li><strong>Improve the club</strong></li>
    <p>Every month, a survey will be published, in order to improve the club and to listen to you!
    Give me your opinion, make proposals, the club will grow and adapt more and more to your needs.</p>
    <li><strong>How Slack works</strong></li>
    <p>Slack is available every day, every hour. You are FREE to post a message whenever you want.
      Please write in the corresponding channels and answer in Thread to make exchanges more fluid (Nelly is available to help you tame slack).
      Everyone is free to arrange their slack as they wish, by leaving channels or joining them.</p>
  </ol>
  <hr>
  <h1 class="text-center my-5">Règles du French Cloud</h1>
  <p>Bienvenue dans le club exclusif de français « The French Cloud ».
    Je suis ravie de t’accueillir.
    Voici quelques points importants concernant le fonctionnement du club.
    En nous rejoignant, tu t’engages à respecter ces quelques principes.</p>
  <ol>
    <li><strong>Practice makes perfect</strong></li>
    <p>Plus vous êtes actif dans le groupe, plus vous allez progresser.
      Être actif : aider les autres, poser des questions, participer aux sessions de conversation, être curieux… rien n’est obligatoire, construis ton apprentissage à ton rythme.
      Si tu es à l’aise en français, aide les autres : c’est en enseignant que l’on apprend le mieux.
      Si tu es débutant, demande de l’aide, encore et encore !</p>
    <li><strong>Benevolence zone</strong></li>
    <p>Tous les membres ont des niveaux différents, les erreurs sont normales, elles sont acceptées et même encouragées.
    On s’aide et on se corrige avec bienveillance, sans aucun jugement.
    Accueille les nouveaux membres aussi chaleureusement que tu aimerais qu’on t’accueille, <em>make them feel loved</em> !
    Pas de haine, de sectarisme, de racisme, ou de commentaires irrespectueux.</p>
    <li><strong>Ask</strong></li>
    <p>Si tu as un problème qui concerne : le fonctionnement de slack, ton abonnement, une question en rapport avec la langue ou la culture française, n’hésite pas.
      Tu peux demander à Nelly ou a un autre membre, en privé ou dans un canal.
      Demande de l’aide aussi souvent que tu le souhaites, aucune question bête.
      Nous apprenons éternellement.</p>
    <li><strong>Share</strong></li>
    <p>Contribue au reste du club : par tes réponses aux commentaires / aux questions.
      Par le fait d’être disponible. Partage tes découverts, ta culture, tes interrogations.
      Tes astuces pour progresser.
      Par tes résultats qui motiveront d’autres personnes à se dire que c’est possible pour elles aussi.</p>
    <li><strong>Improve the club</strong></li>
    <p>Chaque mois, un questionnaire sera publié, afin d'améliorer le club et de vous écouter !
    Donne-moi ton avis, fais des propositions, le club grandira et d’adaptera de plus en plus à vos besoins.</p>
    <li><strong>How Slack works</strong></li>
    <p>Le Slack est disponible tous les jours, toutes les heures.
      Vous êtes LIBRES de poster un message quand vous voulez.
      Merci d’écrire dans les chaînes correspondantes et de répondre en Thread pour fluidifier les échanges (Nelly est disponible pour vous aider à apprivoiser Slack).
      Chacun est libre d'arranger son slack comme il le souhaite, en quittant des channels ou en les rejoignant.</p>
  </ol>
</div>
