<div class="container">
  <h1 class="mb-5">Testimonials</h1>
  <div class="d-flex">
    <img src="https://images.unsplash.com/photo-1517486808906-6ca8b3f04846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2187&q=80" alt="reviews" width="500px" style="object-fit: cover;">
    <div class="reviews ml-5">
      <p>
      <em>“This club is a unique platform to enhance and improve our french skills as it offers direct communication and discussions in french language on various topics with all the participants. The club has quizzes, zoom sessions, exercises, casual discussion, and question/answers which help a great deal in improving french language skills. All of this is something which no other club offers at this level as a whole. Lastly, and most importantly, the club founder/supervisor Nelly is an amazing person and guide who ensures that there is active engagement in the club at all levels, and she offers tips and corrections whenever there is need for them. Joining and participating in the club has been a brilliant experience thus far and I hope to make the most out of it.”</em>
      <br>
      <strong>Raffay, Pakistan, level of French A2</strong>
      </p>

      <p><em>
        "I am glad that I found this group with Nelly, it has been very helpful. I am grateful to Nelly for being so patient; bringing materials and resources that will benefit us. I am happy to add The French Club to my french journey!"
      </em>
      <br>
      <strong>
        Maia, USA, 27 years old, level of French A2
      </strong></p>

      <p>
        <em>
          “This community provides a language immersion environment without the need of leaving one’s country. We get to improve our reading, writing, listening and speaking skills through the casual discussions, short quizzes and online meetings. We also get to meet and learn with other French learners from different parts of the world. More importantly, this group provides us, the learners, a “safe space” where we are allowed to make mistakes and learn from them. My experience with this group is nothing short of amazing, thanks to our very supportive teacher Nelly.”
        </em>
        <br>
        <strong>
          Diory, The Philippines, 33 years old, level of French B1
        </strong>
      </p>

      <p>
        <em>
          “I'm glad I found this club. It is really helpful to improve your french. Our teacher Nelly is wonderful and really patient with us. Also, we come to know people of different cultures from different parts of the world ! Everyone, including our teacher, is really friendly here."
        </em>
        <br>
        <strong>
          Ankan, India, 19 years old, level of French A2/B1
        </strong>
      </p>

        <p>
        <em>
          ”The French club has been a great experience for me.... learning a different language is hard if we don't practice...and this platform makes it easy to practice French with people from all over the world..... Thanks to Nelly who created this amazing club and  for guiding us with patience and care... It's an amazing platform to practice French."
        </em>
        <br>
        <strong>
          Sadia, Bangladesh, level A1, 28 years old
        </strong>
      </p>

        <p>
        <em>
          “I really like this club because it makes me exposed more to the language. There are a lot of activities and conversations that I have fun guessing the meaning(i dont reply because I still can't understand some of them:<). My favorite part of this section is the cinema/musique part because i like hearing people tall about the movies or music that they enjoy. Our teacher, Nelly is also really supportive and patient and so is everyone else in this club”
        </em>
        <br>
        <strong>
          Pia, Philippines, level A1/A2, 17 years old
        </strong>
      </p>

        <p>
        <em>
          “I really like this group because we learn by communicating live with other persons and correct each other when we are wrong. Also it's fun to understand and memorize words or structures in context (either movies, music or books)“
        </em>
        <br>
        <strong>
          Alex, Romania, 24 years old, level of French B1
        </strong>
      </p>

        <p>
        <em>
          “Nelly is a fantastic teacher. She constantly creates useful and interesting content which makes learning French so much fun. I find myself drawn to incorporating a daily dose of Nelly’s teachings into my routine. It’s such a joy to learn French with her. I am immensely enjoying being a part of this club and I highly recommend it to anyone learning French”
        </em>
        <br>
        <strong>
          Raman, India, Level A2, 41 years old
        </strong>
      </p>
    </div>
  </div>
</div>
