<%= image_tag "exo-texto-B1.png", alt: "Texto A2", style: 'height: 700px;' %>
<p class="mt-5">This exercise is too hard for you? Check the lower level <%= link_to "here", exercise_path(Exercise.find_by(sku: 'texto-a2')) %>!</p>
