<%= image_tag "exo-texto-A2.png", alt: "Texto A2", style: 'height: 700px;' %>
<p class="mt-5">This exercise is too easy for you? Check the upper level <%= link_to "here", exercise_path(Exercise.find_by(sku: 'texto-b1')) %>!</p>
