#pages-home .container-view {
  margin-top: 0px;
}

.banner {
  height: 70vh;
  background-size: cover;
  background-position: center;
  padding: 300px 0px;
  display: flex;
  align-items: center;
  .container .whitesq {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
