.footer {
  min-height: $footer-height;
  background: linear-gradient(45deg, $my-blue, $my-red);
  padding: 40px 0;
  color: white;
  font-size: 14px;

  h2 {
    font-weight: bold;
    color: white;
  }

  a {
    color: white;
  }
}

.footer p {
  margin: 0px;
}

.column li {
  list-style: none;
}

.right-side i {
  font-size: 24px;
  margin-left: 5px;
}

.special-holiday-badge {
  background-color: red;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1030;

  p {
    margin: 0px;  
  }
}
