.footer {
  background-color: $my-blue;
  padding: 40px 0;
  color: white;
  font-size: 14px;

  h2 {
    font-weight: bold;
    color: white;
  }
}

.footer p {
  margin: 0px;
}

.column li {
  list-style: none;
}

.right-side i {
  font-size: 24px;
  margin-left: 5px;
}
