.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.lesson-card {
  display: flex;
  border-radius: 15px;
  padding: 20px;
  background-color: $my-white;
  position: relative;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 4px rgba(253, 95, 0, 0.25)
  }
  h1 {
    color: $my-blue;
    font-weight: bold;
    font-size: 24px;
  }
  .lesson-card-left {
    max-width: 90%;
  }
}

.lesson-showcard {
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  background-color: $my-white;
  position: relative;
  h1 {
    color: $my-blue;
    font-weight: bold;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
    font-size: 24px;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
    margin: 0px;
    width: 200px;
    background-color: white;
    font-weight: bold;
    color: $my-red;
  }
  .description-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  @media (max-width: 576px) {
    .description-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .description-card {
    border-radius: 15px;
    background-color: white;
    padding: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $my-black;
    text-align: center;
    td {
      border: 1px solid $my-black;
      padding: 0px;
      &.headers {
        background-color: $my-blue;
        color: white;
        margin: 0px;
        font-weight: bold;
      }
    }
    .headers {
      background-color: $my-black;
      color: white;
      margin: 0px;
      font-weight: bold;
    }
    p {
      margin: 5px;
    }
  }

  .example-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    .example-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .example-image {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 576px) {
    .example-image {
      border-radius: 15px 15px 0px 0px;
    }
  }
  .example-text {
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    margin: 0px;
    background-color: white;
    text-align: center;
    padding: 20px;

    @media (max-width: 475px) {
      ul {
        padding: 0px;
      }
    }
  }
  @media (max-width: 576px) {
    .example-text {
      border-radius: 0px 0px 15px 15px;
    }
  }
}

.standalone-image {
  width: 100%;
  border-radius: 15px;
}
