<h2 class="my-5">Vocabulaire</h2>
<div class="description-cards">
  <div class="description-card">
    <ul>
      <li>An itinerary</li>
      <li>The way / the road</li>
      <li>The street / the avenue / the boulevard</li>
      <li>A neighborhood</li>
      <li>The place</li>
      <li>Straight ahead</li>
      <li>Along the Seine / the park</li>
      <li>Turn left / right</li>
      <li>Crossing the road</li>
      <li>Up to the crossroads / up to the library</li>
      <li>It's far / it's close</li>
      <li>Going up the stairs / going down</li>
      <li>A crosswalk</li>
      <li>A crossroads</li>
      <li>Next to / near</li>
      <li>In front of / back</li>
      <li>Turning back</li>
    </ul>
  </div>
  <div class="description-card">
    <ul>
      <li>Un itin&eacute;raire</li>
      <li>Le chemin / la route</li>
      <li>La rue / l'avenue / le boulevard</li>
      <li>Un quartier</li>
      <li>La place</li>
      <li>Tout droit</li>
      <li>Longer la Seine, le parc</li>
      <li>Tourner &agrave; gauche / &agrave; droite</li>
      <li>Traverser la route, le parc</li>
      <li>Jusqu'au croisement / jusqu'&agrave; la biblioth&egrave;que</li>
      <li>C'est loin / c'est proche</li>
      <li>Monter les escaliers / Descendre</li>
      <li>Un passage pi&eacute;ton</li>
      <li>Un croisement / un carrefour</li>
      <li>&Agrave; c&ocirc;t&eacute; de / pr&egrave;s de</li>
      <li>Devant / derri&egrave;re</li>
      <li>Faire demi-tour</li>
    </ul>
    <%= audio_tag 'demandersoncheminvoca.mp3', controls: true %>
  </div>
</div>

<div class="description-cards mt-2">
  <div class="description-card">
    <ul>
      <li>How to get there?</li>
      <li>I'm looking for the street...</li>
      <li>Could you please tell me how to get to...</li>
    </ul>
  </div>
  <div class="description-card">
    <ul>
      <li>Comment se rendre &agrave; cet endroit ?</li>
      <li>Je cherche la rue...</li>
      <li>Pourriez-vous me dire comment aller &agrave;...</li>
    </ul>
  </div>
</div>

<h2 class="my-5">Dialogue</h2>
<div class="d-flex align-items-center">
  <%= image_tag "itineraire.png", alt: "itineraire", class: 'example-image' %>
  <div class="example-text text-left">
    <ul>
      <li>Bonjour monsieur, excusez-moi de vous d&eacute;ranger. Je suis perdue. Je cherche l’Arc de Triomphe s’il vous plaît.</li>
      <li>C’est tr&egrave;s simple. Vous longez la Seine jusqu’au pont de l’Alma. Ensuite vous traversez la Seine. Puis vous tournez &agrave; gauche, et vous continuez tout droit jusqu’&agrave; l’Arc de Triomphe.</li>
      <li>D'accord, et c'est loin ?</li>
      <li>Un peu, environ 30 minutes &agrave; pied. Vous pouvez aussi y aller en m&eacute;tro.</li>
      <li>Je vais marcher ! Merci monsieur, bonne journ&eacute;e.</li>
      <li>De rien, au revoir et bonne journ&eacute;e !</li>
      <%= audio_tag 'demandersonchemin.mp3', controls: true, class: "mt-1" %>
    </ul>
  </div>
</div>
