<h2 class="mt-5 mb-4">Il sert à exprimer</h2>
<ol>
  <li><strong>La simulatanéité (simultanity)</strong></li>
    <p><em>Exemple: elle chante en se douchant (= pendant qu'elle se douche)</em></p>
  <li><strong>La manière / la cause</strong></li>
    <p><em>Exemple: elle est tombée en descendant les escaliers.</em></p>
  <li><strong>La condition d'une action</strong></li>
    <p><em>Exemple: en faisant les exercices de français, tu progresseras.</em></p>
</ol>

<h2 class="mt-5 mb-4">Comment on le forme ?</h2>
<p>It is formed from the radical of the 1st person plural of the present + "-ant."</p>
<p><em>Example:
<ul>
  <li>Prendre: nous prenons => en prenant</li>
  <li>Finir: nous finissons => en finissant</li>
</ul></em></p>

<p>3 exceptions:
<ul>
  <li>Être : en étant</li>
  <li>Avoir : en ayant</li>
  <li>Savoir : en sachant</li>
</ul></p>
