<h2 class="my-5">Comment former l'imparfait</h2>
<div class="description-cards">
  <div class="description-card">
    <p>
      To form the “imparfait”, <strong>drop the -ons ending</strong> from the present tense nous form of the verb and add these endings:
      <br>
      -ais, -ais, -ait, -ions, -iez, -aient.
    </p>
    <p>For example: "LIRE" (to read)</p>
    <ul>
      <li>Nous lisons (2nd person plurial), present</li>
      <li><strike>Nous</strike> <strong>lis</strong><strike>ons</strike> (you drop the -ons)</li>
      <li>Je <strong>lis</strong>-ais, tu <strong>lis</strong>-ais, il <strong>lis</strong>-ait, nous <strong>lis</strong>-ions, vous <strong>lis</strong>-iez, ils <strong>lis</strong>-aient (you add endings of "imparfait")</li>
    </ul>
  </div>
  <div class="description-card">
    <p>
      <em>
        Pour former l'imparfait, <strong>laissez tomber la terminaison -ons</strong> de la forme "nous" du présent du verbe et ajoutez ces terminaisons :
        <br>
        -ais, -ais, -ait, -ions, -iez, -aient.
      </em>
    </p>
    <p>Par exemple : "LIRE"</p>
    <ul>
      <li>Nous lisons (2ème personne du pluriel), présent</li>
      <li><strike>Nous</strike> <strong>lis</strong><strike>ons</strike> (on retire le -ons)</li>
      <li>Je <strong>lis</strong>-ais, tu <strong>lis</strong>-ais, il <strong>lis</strong>-ait, nous <strong>lis</strong>-ions, vous <strong>lis</strong>-iez, ils <strong>lis</strong>-aient (on ajoute les terminaisons de l'imparfait)</li>
    </ul>
  </div>
</div>

<h2 class="my-5">La conjugaison selon les groupes</h2>
<table>
  <tbody>
  <tr class="headers">
    <td>
      <p>Personne</p>
    </td>
    <td>
      <p>Avoir</p>
    </td>
    <td>
      <p>Aimer</p>
    </td>
    <td>
      <p>Faire</p>
    </td>
    <td>
      <p>Vouloir</p>
    </td>
  </tr>
    <tr>
      <td class="headers">
        <p>JE</p>
      </td>
      <td>
        <p>J&rsquo;avais</p>
      </td>
      <td>
        <p>J&rsquo;aimais</p>
      </td>
      <td>
        <p>Je faisais</p>
      </td>
      <td>
        <p>Je voulais</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>TU</p>
      </td>
      <td>
        <p>Tu avais</p>
      </td>
      <td>
        <p>Tu aimais</p>
      </td>
      <td>
        <p>Tu faisais</p>
      </td>
      <td>
        <p>Tu voulais</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>IL&nbsp;/ ELLE / ON</p>
      </td>
      <td>
        <p>Il/elle/on avait</p>
      </td>
      <td>
        <p>Il/elle/on aimait</p>
      </td>
      <td>
        <p>Il/elle/on faisait</p>
      </td>
      <td>
        <p>Il/elle/on voulait</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>NOUS</p>
      </td>
      <td>
        <p>Nous avions</p>
      </td>
      <td>
        <p>Nous aimions</p>
      </td>
      <td>
        <p>Nous faisions</p>
      </td>
      <td>
        <p>Nous voulions</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>VOUS</p>
      </td>
      <td>
        <p>Vous aviez</p>
      </td>
      <td>
        <p>Vous aimiez</p>
      </td>
      <td>
        <p>Vous faisiez</p>
      </td>
      <td>
        <p>Vous vouliez</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>ILS / ELLES</p>
      </td>
      <td>
        <p>Ils/elles avaient</p>
      </td>
      <td>
        <p>Ils/elles aimaient</p>
      </td>
      <td>
        <p>Ils/elles faisaient</p>
      </td>
      <td>
        <p>Ils/elles voulaient</p>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="my-5">🚨 <mark>Exception alert!</mark> 🚨</h2>
<p class="text-center"><strong>Just one irregular verb: être</strong></p>
<table>
  <tbody>
    <tr class="headers">
      <td>
        <p>Personne</p>
      </td>
      <td>
        <p>&Ecirc;tre (présent de l'ind.)</p>
      </td>
      <td>
        <p>&Ecirc;tre (imparfait de l'ind.)</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>JE</p>
      </td>
      <td>
        <p>Je suis</p>
      </td>
      <td>
        <p>J&rsquo;étais</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>TU</p>
      </td>
      <td>
        <p>Tu es</p>
      </td>
      <td>
        <p>Tu étais</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>IL / ELLE / ON</p>
      </td>
      <td>
        <p>Il / elle / on est</p>
      </td>
      <td>
        <p>Il / elle / on était</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>NOUS</p>
      </td>
      <td>
        <p>Nous sommes</p>
      </td>
      <td>
        <p>Nous étions</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>VOUS</p>
      </td>
      <td>
        <p>Vous &ecirc;tes</p>
      </td>
      <td>
        <p>Vous étiez</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>ILS / ELLES</p>
      </td>
      <td>
        <p>Ils / elles sont</p>
      </td>
      <td>
        <p>Ils / elles étaient</p>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="my-5">Fiche exemple</h2>
<div class="d-flex align-items-center">
  <%= image_tag "https://images.unsplash.com/photo-1516047157009-970cab2005ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4050&q=80", alt: "enfant qui dort", class: 'example-image' %>
  <div class="example-text">
    <p>Quand <strong>j&rsquo;étais</strong> petit, <strong>je faisais</strong> souvent des cauchemars.
      <strong>J&rsquo;avais</strong> peur, <strong>je criais</strong> dans mon sommeil.
      <strong>Je disais</strong> que <strong>je voyais</strong> des monstres !
      <strong>J&rsquo;appelais</strong> mes parents.
      <strong>Ils allumaient</strong> la lumière.
      <strong>Ma mère chantait</strong> une chanson.
      Puis, après un câlin à mon papa, <strong>je repartais</strong> dans mon lit.
      <strong>Je pouvais</strong> alors me rendormir.</p>
  </div>
</div>
