<h2 class="my-5">Les participes pass&eacute;s irr&eacute;guliers en -u</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="headers">
        <td>
          <p><strong>Verbe</strong></p>
        </td>
        <td>
          <p><strong>Participe pass&eacute;</strong></p>
        </td>
        <td>
          <p><strong>Translation</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Pouvoir</p>
        </td>
        <td>
          <p>Pu</p>
        </td>
        <td>
          <p><em>Can</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Vouloir</p>
        </td>
        <td>
          <p>Voulu</p>
        </td>
        <td>
          <p><em>Want</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Voir</p>
        </td>
        <td>
          <p>Vu</p>
        </td>
        <td>
          <p><em>See</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Devoir</p>
        </td>
        <td>
          <p>D&ucirc;</p>
        </td>
        <td>
          <p><em>Have</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Savoir</p>
        </td>
        <td>
          <p>Su</p>
        </td>
        <td>
          <p><em>Know</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Recevoir</p>
        </td>
        <td>
          <p>Re&ccedil;u</p>
        </td>
        <td>
          <p><em>Receive</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Tenir</p>
        </td>
        <td>
          <p>Tenu</p>
        </td>
        <td>
          <p><em>Lose</em></p>
        </td>
      </tr>
        <tr>
        <td>
          <p>Croire</p>
        </td>
        <td>
          <p>Cru</p>
        </td>
        <td>
          <p><em>Believe</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Perdre</p>
        </td>
        <td>
          <p>Perdu</p>
        </td>
        <td>
          <p><em>Lose</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Lire</p>
        </td>
        <td>
          <p>Lu</p>
        </td>
        <td>
          <p><em>Read</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Boire</p>
        </td>
        <td>
          <p>Bu</p>
        </td>
        <td>
          <p><em>Drinking</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Venir</p>
        </td>
        <td>
          <p>Venu</p>
        </td>
        <td>
          <p><em>Come to</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Descendre</p>
        </td>
        <td>
          <p>Descendu</p>
        </td>
        <td>
          <p><em>Go down</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Vivre</p>
        </td>
        <td>
          <p>V&eacute;cu</p>
        </td>
        <td>
          <p><em>Live</em></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p><strong><u>Examples:</strong></u></p>
<ul>
  <li><strong>J&rsquo;ai reçu</strong> un mail de mon patron hier soir.</li>
  <li><strong>Tu as</strong> cru mon histoire ?</li>
  <li><strong>Elles ont v&eacute;cu</strong> en Australie pendant dix ans.</li>
</ul>

<h2 class="my-5">Les participes pass&eacute;s irr&eacute;guliers en -is</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="headers">
        <td>
          <p><strong>Verbe</strong></p>
        </td>
        <td>
          <p><strong>Participe pass&eacute;</strong></p>
        </td>
        <td>
          <p><strong>Translation</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Mettre</p>
        </td>
        <td>
          <p>Mis</p>
        </td>
        <td>
          <p><em>Put</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Prendre</p>
        </td>
        <td>
          <p>Pris</p>
        </td>
        <td>
          <p><em>Take</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Comprendre</p>
        </td>
        <td>
          <p>Compris</p>
        </td>
        <td>
          <p><em>Understand</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Apprendre</p>
        </td>
        <td>
          <p>Appris</p>
        </td>
        <td>
          <p><em>Learn</em></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p><strong><u>Examples:</strong></u></p>
<ul>
  <li><strong>J&rsquo;ai mis</strong> un manteau et des gants pour sortir.</li>
  <li><strong>Il n&rsquo;a pas compris</strong> la leçon sur le pass&eacute; compos&eacute;.</li>
  <li><strong>Nous avons appris</strong> le fran&ccedil;ais à l&rsquo;&eacute;cole.</li>
</ul>

<h2 class="my-5">Les participes pass&eacute;s irr&eacute;guliers en -ert</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="headers">
        <td>
          <p><strong>Verbe</strong></p>
        </td>
        <td>
          <p><strong>Participe pass&eacute;</strong></p>
        </td>
        <td>
          <p><strong>Translation</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Ouvrir</p>
        </td>
        <td>
          <p>Ouvert</p>
        </td>
        <td>
          <p><em>Open</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Offrir</p>
        </td>
        <td>
          <p>Offert</p>
        </td>
        <td>
          <p><em>Offer</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Souffrir</p>
        </td>
        <td>
          <p>Souffert</p>
        </td>
        <td>
          <p><em>Suffer</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>D&eacute;couvrir</p>
        </td>
        <td>
          <p>D&eacute;couvert</p>
        </td>
        <td>
          <p><em>Discover</em></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p><strong><u>Examples:</strong></u></p>
<ul>
  <li><strong>On m'a offert</strong> un collier pour mon anniversaire.</li>
  <li><strong>Christophe Collomb a d&eacute;couvert</strong> l'Am&eacute;rique en 1492.</li>
</ul>

<h2 class="my-5">Les participes pass&eacute;s irr&eacute;guliers en -it</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="headers">
        <td>
          <p><strong>Verbe</strong></p>
        </td>
        <td>
          <p><strong>Participe pass&eacute;</strong></p>
        </td>
        <td>
          <p><strong>Translation</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Conduire</p>
        </td>
        <td>
          <p>Conduit</p>
        </td>
        <td>
          <p><em>Drive</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Construire</p>
        </td>
        <td>
          <p>Construit</p>
        </td>
        <td>
          <p><em>Build</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Produire</p>
        </td>
        <td>
          <p>Produit</p>
        </td>
        <td>
          <p><em>Produce</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Traduire</p>
        </td>
        <td>
          <p>Traduit</p>
        </td>
        <td>
          <p><em>Translate</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Dire</p>
        </td>
        <td>
          <p>Dit</p>
        </td>
        <td>
          <p><em>Say</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>&Eacute;crire</p>
        </td>
        <td>
          <p>&Eacute;crit</p>
        </td>
        <td>
          <p><em>Write</em></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p><strong><u>Examples:</strong></u></p>
<ul>
  <li><strong>Maria a conduit</strong> la voiture de sa m&egrave;re.</li>
  <li><strong>Vous avez traduit</strong> tout le texte.</li>
  <li><strong>J'ai &eacute;crit</strong> un po&egrave;me.</li>
</ul>

<h2 class="my-5">Les participes pass&eacute;s irr&eacute;guliers en -i</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="headers">
        <td>
          <p><strong>Verbe</strong></p>
        </td>
        <td>
          <p><strong>Participe pass&eacute;</strong></p>
        </td>
        <td>
          <p><strong>Translation</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Rire</p>
        </td>
        <td>
          <p>Ri</p>
        </td>
        <td>
          <p><em>Laugh</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Suivre</p>
        </td>
        <td>
          <p>Suivi</p>
        </td>
        <td>
          <p><em>Follow</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Finir</p>
        </td>
        <td>
          <p>Fini</p>
        </td>
        <td>
          <p><em>Finish</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Choisir</p>
        </td>
        <td>
          <p>Choisi</p>
        </td>
        <td>
          <p><em>Choose</em></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>Ainsi que tous les verbes du <strong>deuxi&egrave;me groupe</strong>: saisir, grandir, fleurir, grossir, maigrir, agir, r&eacute;agir, rougir, etc...</p>
<p><strong><u>Examples:</strong></u></p>
<ul>
  <li><strong>Elle a ri</strong> pendant dix minutes.</li>
  <li><strong>Vous avez fini</strong> de manger ?</li>
  <li><strong>Ils n&rsquo;ont pas choisi</strong> leur destination de vacances.</li>
</ul>

<h2 class="my-5">Divers</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="headers">
        <td>
          <p><strong>Verbe</strong></p>
        </td>
        <td>
          <p><strong>Participe pass&eacute;</strong></p>
        </td>
        <td>
          <p><strong>Translation</strong></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Être</p>
        </td>
        <td>
          <p>&Eacute;t&eacute;</p>
        </td>
        <td>
          <p><em>Be</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Avoir</p>
        </td>
        <td>
          <p>Eu</p>
        </td>
        <td>
          <p><em>Have</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Faire</p>
        </td>
        <td>
          <p>Fait</p>
        </td>
        <td>
          <p><em>Do</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Na&icirc;tre</p>
        </td>
        <td>
          <p>N&eacute;</p>
        </td>
        <td>
          <p><em>Born</em></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Mourir</p>
        </td>
        <td>
          <p>Mort</p>
        </td>
        <td>
          <p><em>Die</em></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p><strong><u>Examples:</strong></u></p>
<ul>
  <li><strong>Ils ont fait</strong> le tour du monde l&rsquo;an dernier.</li>
  <li><strong>Elle est n&eacute;e</strong> mercredi 13 mars.</li>
</ul>
