<h2 class="text-center my-5">&Ecirc;tre ou avoir: how to choose the right "auxiliaire"?</h2>
<ul>
  <li>
    Most verbs construct the <em>passé composé</em> with <em>avoir</em>, however <em>&ecirc;tre</em> is used as the auxiliary verb
    <p>Example: je suis né(e), je suis allé(e), je suis monté(e)...</p>
    <%= image_tag "http://m.blog.hu/fr/frde/image/Pass%C3%A9%20compos%C3%A9%20avec%20etre%20k%C3%A9p.JPG", alt: "Passé composé with être", class: 'mb-3 standalone-image' %>
  </li>
  <li>
    We use "avoir" with <strong>reflexive verbs</strong>. The reflexive pronoun comes after the first part of the negation (ne) and before the auxiliary verb (avoir/&ecirc;tre).
    <br>
    <p>Example: je me suis levé(e), je me suis réveillé(e), je me suis trompé(e)</p>
  </li>
  <li>
    We use "avoir" when <em>descendre, entrer, monter, rentrer, retourner, sortir</em> are <strong>followed by a direct object</strong>.
    In this case, the meaning of the verb often changes.
    <br>
    <p>Example: <u>As</u>-tu sorti <u>les poubelles</u> ? (les poubelles : direct object)</p>
  </li>
</ul>

<h2 class="text-center my-5">How to form the participe passé (past participle)</h2>
<p>For regular <em>er/ir/re</em>-verbs, the participe passé is easy to construct:</p>
<ul>
  <li>
    If the infinitive ends in <strong>-er</strong>, the participle ends in <strong>é</strong>
    <p>Example: aimer - aimé / manger - mangé</p>
  </li>
  <li>
    If the infinitive ends in <strong>-ir</strong>, the participle ends in <strong>i</strong>
    <p>Example: finir - fini / sortir - sorti</p>
  </li>
  <li>
    If the infinitive ends in <strong>-re</strong>, the participle ends in <strong>u</strong>
    <p>Example: vendre - vendu</p>
  </li>
</ul>
<p>Attention: there are many irregular verbs, check the list <%= link_to "here", "#" %>.</p>

<h2 class="my-5">Fiche exemple</h2>
<div class="example-grid">
  <%= image_tag "https://images.unsplash.com/photo-1593100126453-19b562a800c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3872&q=80", alt: "Ma grand-mère", class: 'example-image' %>
  <div class="example-text">
    <p><strong>Ma grand mère est née</strong> en France, à la campagne, et <strong>elle a vécu</strong> quelques années à Paris.
      Quand <strong>elle a rencontré</strong> mon grand-père <strong>elle s'est mariée</strong>, et ensemble <strong>ils ont eu</strong> 3 enfants.
      <strong>Ils sont allés</strong> partout dans le monde, <strong>ils ont voyagé</strong> sur tous les continents.
      <strong>Elle est restée</strong> 3 mois au Canada, puis avec mon grand-père, <strong>ils ont déménagé</strong> en Australie.
      En même temps, <strong>elle a crée</strong> son entreprise. J&rsquo;admire beaucoup ma grand-mère car <strong>elle a réalisé</strong> beaucoup de ses r&ecirc;ves.
      <strong>Elle est morte</strong> le mois dernier, <strong>elle est montée</strong> au ciel avec les anges.</p>
  </div>
</div>
