<h2 class="my-5">How to form the <em>pass&eacute; compos&eacute;</em> in French?</h2>
<p>To conjugate the <em>pass&eacute; compos&eacute;</em> we use the present tense of <em>avoir</em> or <em>&ecirc;tre</em> as an auxiliary verb followed by the past participle <em>(participe pass&eacute;)</em> of the main verb.</p>
<div class="table-responsive my-5">
  <table class="table">
    <tbody>
      <tr>
        <td rowspan="6" class="headers" style="vertical-align: middle;">
          <p>&Ecirc;TRE</p>
        </td>
        <td>
          <p>Je suis</p>
        </td>
        <td rowspan="12" style="vertical-align: middle;">
          <p>+ participe pass&eacute;</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Tu es</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Il / Elle / On est</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Nous sommes</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Vous &ecirc;tes</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Ils / Elles sont</p>
        </td>
      </tr>
      <tr>
        <td rowspan="6" class="headers" style="vertical-align: middle;">
          <p>AVOIR</p>
        </td>
        <td>
          <p>J&rsquo;ai</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Tu as</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Il / Elle / on a</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Nous avons</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Vous avez</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Ils / Elles ont</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="my-5">&Ecirc;tre + participe pass&eacute;</h2>
<ul>
  <li><strong>&Ecirc;tre is used as the auxiliary verb in some cases, the 14 most common verbs are on the drawing below:</strong></li>
  <div class="row">
    <%= image_tag "tips-aux-etre-pc.png", alt: "Tips: Auxiliaire Etre for Pass&eacute; Compos&eacute;", class: 'col-xs-12 col-md-6' %>
  </div>
  <em>Examples: je suis n&eacute;(e), elle est all&eacute;e, vous &ecirc;tes mont&eacute;s...</em>
  <li class="mt-3"><strong>&Ecirc;tre is used with pronominal verbs.</strong></li>
  <em>Examples: je me suis lev&eacute;(e), elle est mont&eacute;e, nous nous sommes lav&eacute;s...</em>
  <li class="mt-3"><strong>With “&ecirc;tre” the participe pass&eacute; has to construe in gender and number with either the subject or the object of the sentence.</strong></li>
  <em>Examples:
    <ul>
      <li>Il est all<u>&eacute;</u> &agrave; la mer</li>
      <li>Elle est all<u>&eacute;e</u> &agrave; la mer</li>
      <li>Ils sont all<u>&eacute;s</u> &agrave; la mer</li>
      <li>Elles sont all<u>&eacute;es</u> &agrave; la mer</li>
    </ul>
  </em>
</ul>
<h2 class="my-5">Avoir + participe pass&eacute;</h2>
<ul>
  <li><strong>The majority of verbs have "avoir" as past participle.</strong></li>
  <em>Examples: j'ai mang&eacute; (manger), il a bu (boire), nous avons fait (faire), ils ont march&eacute; (marcher)</em>
  <li class="mt-3"><strong>For verbs that take <em>avoir</em> in the <em>pass&eacute; compos&eacute;</em>, the participle only construes in gender and number with a direct object that comes before the verb.</strong></li>
  <em>Examples:
    <ul>
      <li>Il a mang&eacute; le pain. ➡ Il l&rsquo;a mang&eacute;.</li>
      <li>Il a mang&eacute; la pomme. ➡ Il l&rsquo;a mang&eacute;e.</li>
    </ul>
  </em>
  <li class="mt-3"><strong>We use "avoir" when <em>descendre, entrer, monter, rentrer, retourner, sortir</em> are followed by a direct object. In this case, the meaning of the verb often changes.</strong></li>
  <em>Examples: <u>As</u>-tu sorti <u>les poubelles</u> ? (les poubelles: direct object)</em>
</ul>
<div class="row">
  <%= image_tag "remember-ne-pc.png", alt: "Remember negative sentences", class: 'col-xs-12 col-md-6' %>
</div>
<h2 class="my-5">How to form the <em>participe pass&eacute;</em></h2>
<p>For regular <em>er/ir/re</em>-verbs, the participe pass&eacute; is easy to construct:</p>
<ul>
  <li>If the infinitive ends in <strong>-er</strong>, the participle ends in <strong>&eacute;</strong></li>
  <em>Examples: aimer ➡ aim&eacute; / manger ➡ mang&eacute;</em>
  <li class="mt-3">If the infinitive ends in <strong>-ir</strong>, the participle ends in <strong>i</strong></li>
  <em>Examples: finir ➡ fini / sortir ➡ sorti</em>
  <li class="mt-3">If the infinitive ends in <strong>-re</strong>, the participle ends in <strong>u</strong></li>
  <em>Examples: vendre ➡ vendu</em>
</ul>
<p>Attention: there are many irregular verbs, check the list <%= link_to "here", lesson_path(Lesson.find_by(sku: 'participe-passe-irreguliers')) %>.</p>
