<h2 class="my-5" style="color: orange;">L'imparfait</h2>
<div class="description-cards">
  <div class="description-card">
    <p>It is used to talk about <strong>habits</strong> in the past, to <strong>express feelings</strong>, or to <strong>make a description</strong> in the past.</p>
  </div>
  <div class="description-card">
    <p>Il est utilisé pour parler des <strong>habitudes</strong> dans le passé, pour <strong>exprimer ses sentiments</strong> ou pour faire <strong>une description</strong> qui ont lieu dans le passé.</p>
  </div>
</div>
<ul class="mt-3" style="color: orange;">
  <li>Quand j'étais jeune, <strong>je jouais</strong> du piano.</li>
  <li><em>When I was young, I used to play piano.</em></li>
</ul>

<h2 class="my-5" style="color: blue;">Le passé composé</h2>
<div class="description-cards">
  <div class="description-card">
    <p>It is used to report <strong>on events that are over</strong>, that took place in the past. These are <strong>punctual</strong> events. <strong>The duration is defined</strong>.</p>
  </div>
  <div class="description-card">
    <p>Il est utilisé pour raconter des <strong>événements qui sont terminés</strong>, qui ont eu lieu dans le passé. Ce sont des événements <strong>ponctuels</strong>. <strong>La durée est définie</strong>.</p>
  </div>
</div>
<ul class="mt-3 mb-5" style="color: blue;">
  <li>Un jour, <strong>j'ai joué</strong> devant la reine d'Angleterre.</li>
  <li><em>One day, I played piano infront of the Queen of England.</em></li>
</ul>

<hr>
<h2 style="color: black;"><em>"Quand <span style="color: orange;">j'étais</span> jeune, <span style="color: orange;">je jouais</span> du piano. Un jour, <span style="color: blue;">j'ai joué</span> devant la reine d'Angleterre."</em></h2>
<hr>

<h2 class="my-5">Tips</h2>
<ul>
  <li>"Tout à coup", "soudain", "brusquement", are followed by the <strong style="color: blue;">passé composé</strong></li>
  <li>"Pendant que" is followed par <strong style="color: orange;">l'imparfait</strong></li>
</ul>

<h2 class="my-5">Some examples</h2>
<ul>
  <li><span style="color: orange;">Je descendais</span> l'escalier quand tout à coup, <span style="color: blue;">j'ai raté</span> une marche.</li>
  <li><span style="color: orange;">Je dormais</span> quand soudain, <span style="color: blue;">j'ai entendu</span> un cri.</li>
  <li><span style="color: blue;">J'ai pris</span> mon parapluie parce qu'<span style="color: orange;">il pleuvait</span> ce matin.</li>
  <li><span style="color: blue;">Une voiture a renversé</span> la dame pendant qu'<span style="color: orange;">elle traversait</span> la rue.</li>
  <li><span style="color: orange;">J'étais</span> dans mon bain quand le téléphone a sonné.</li>
  <li><span style="color: blue;">J'ai fermé</span> la fenêtre parce qu'<span style="color: orange;">il faisait</span> froid.</li>
</ul>

<h2 class="my-5">Fiche exemple</h2>
<div class="example-grid">
  <%= image_tag "https://images.unsplash.com/photo-1552422535-c45813c61732?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4050&q=80", alt: "Pianiste", class: 'example-image' %>
  <div class="example-text">
    <p>Quand <strong>j&rsquo;&eacute;tais&nbsp;</strong>jeune, <strong>je jouais</strong> du piano et j<strong>&rsquo;&eacute;tais</strong> tr&egrave;s dou&eacute;.
      Lors d&rsquo;un concert de charit&eacute;, <strong>j&rsquo;ai jou&eacute;</strong> devant un public de 100 personnes <strong>j&rsquo;&eacute;tais stress&eacute;e</strong>.
      Pendant que <strong>je jouais</strong>, <strong>tout le monde parlait</strong>.
      Soudain, <strong>la reine est arriv&eacute;e</strong>. <strong>Elle m&rsquo;a regard&eacute;</strong>.
      <strong>J&rsquo;ai arr&ecirc;t&eacute;</strong> de jouer.
      <strong>Elle a applaudi</strong>, <strong>elle m&rsquo;a salu&eacute;</strong>, puis <strong>elle est repartie</strong>.
      <strong>J&rsquo;ai recommenc&eacute;</strong> &agrave; jouer et tout le monde <strong>&eacute;tait&nbsp;</strong>silencieux maintenant.
      <strong>C&rsquo;&eacute;tait</strong> un moment incroyable : voil&agrave; comment <strong>j&rsquo;ai jou&eacute;</strong> devant la Reine d&rsquo;Angleterre.</p>
  </div>
</div>
