<h2 class="my-5">Les verbes irréguliers très utilisés</h2>
<table>
  <tbody>
  <tr class="headers">
    <td>
      <p>Personne</p>
    </td>
    <td>
      <p>Avoir</p>
    </td>
    <td>
      <p>&Ecirc;tre</p>
    </td>
    <td>
      <p>Aller</p>
    </td>
    <td>
      <p>Faire</p>
    </td>
  </tr>
    <tr>
      <td class="headers">
        <p>JE</p>
      </td>
      <td>
        <p>J&rsquo;ai</p>
      </td>
      <td>
        <p>Je suis</p>
      </td>
      <td>
        <p>Je vais</p>
      </td>
      <td>
        <p>Je fais</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>TU</p>
      </td>
      <td>
        <p>Tu as</p>
      </td>
      <td>
        <p>Tu es</p>
      </td>
      <td>
        <p>Tu vas</p>
      </td>
      <td>
        <p>Tu fais</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>IL&nbsp;/ ELLE / ON</p>
      </td>
      <td>
        <p>Il/elle/on a</p>
      </td>
      <td>
        <p>Il/elle/on est</p>
      </td>
      <td>
        <p>Il/elle/on va</p>
      </td>
      <td>
        <p>Il/elle/on fait</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>NOUS</p>
      </td>
      <td>
        <p>Nous avons</p>
      </td>
      <td>
        <p>Nous sommes</p>
      </td>
      <td>
        <p>Nous allons</p>
      </td>
      <td>
        <p>Nous faisons</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>VOUS</p>
      </td>
      <td>
        <p>Vous avez</p>
      </td>
      <td>
        <p>Vous &ecirc;tes</p>
      </td>
      <td>
        <p>Vous allez</p>
      </td>
      <td>
        <p>Vous fa&icirc;tes</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>ILS / ELLES</p>
      </td>
      <td>
        <p>Ils/elles ont</p>
      </td>
      <td>
        <p>Ils/elles sont</p>
      </td>
      <td>
        <p>Ils/elles vont</p>
      </td>
      <td>
        <p>Ils/elles font</p>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="my-5">La conjugaison selon les groupes</h2>
<table>
  <tbody>
  <tr class="headers">
    <td>
      <p>Personne</p>
    </td>
    <td>
      <p><em>1st group</em><br>"er" verbs (aimer)</p>
    </td>
    <td>
      <p><em>2nd group</em><br>"ir" verbs (finir)</p>
    </td>
    <td>
      <p><em>3rd group</em><br>"ir" verbs (dormir)</p>
    </td>
    <td>
      <p><em>3rd group</em><br>"re" verbs (vendre)</p>
    </td>
  </tr>
    <tr>
      <td class="headers">
        <p>JE</p>
      </td>
      <td>
        <p>J&rsquo;aime</p>
      </td>
      <td>
        <p>Je finis</p>
      </td>
      <td>
        <p>Je dors</p>
      </td>
      <td>
        <p>Je vends</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>TU</p>
      </td>
      <td>
        <p>Tu aimes</p>
      </td>
      <td>
        <p>Tu finis</p>
      </td>
      <td>
        <p>Tu dors</p>
      </td>
      <td>
        <p>Tu vends</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>IL&nbsp;/ ELLE / ON</p>
      </td>
      <td>
        <p>Il/elle/on aime</p>
      </td>
      <td>
        <p>Il/elle/on finit</p>
      </td>
      <td>
        <p>Il/elle/on dort</p>
      </td>
      <td>
        <p>Il/elle/on vend</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>NOUS</p>
      </td>
      <td>
        <p>Nous aimons</p>
      </td>
      <td>
        <p>Nous finissons</p>
      </td>
      <td>
        <p>Nous dormons</p>
      </td>
      <td>
        <p>Nous vendons</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>VOUS</p>
      </td>
      <td>
        <p>Vous aimez</p>
      </td>
      <td>
        <p>Vous finissez</p>
      </td>
      <td>
        <p>Vous dormez</p>
      </td>
      <td>
        <p>Vous vendez</p>
      </td>
    </tr>
    <tr>
      <td class="headers">
        <p>ILS / ELLES</p>
      </td>
      <td>
        <p>Ils/elles aiment</p>
      </td>
      <td>
        <p>Ils/elles finissent</p>
      </td>
      <td>
        <p>Ils/elles dorment</p>
      </td>
      <td>
        <p>Ils/elles vendent</p>
      </td>
    </tr>
  </tbody>
</table>

<h2 class="my-5">Fiche exemple</h2>
<div class="d-flex align-items-center">
  <%= image_tag "https://images.unsplash.com/photo-1557456373-8ccab8f407da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4287&q=80", alt: "Sophie", class: 'example-image' %>
  <div class="example-text">
    <p>La fille s’<strong>appelle</strong> Sophie. Elle <strong>habite</strong> à Montpellier.
      Elle <strong>a</strong> 14 ans.
      Elle <strong>pratique</strong> le football.
      Tous les mercredis, elle <strong>va</strong> à l’entraînement.
      Elle <strong>gagne</strong> tous les matchs.
      Elle <strong>adore</strong> le sport et elle <strong>joue</strong> aussi du piano.</p>
  </div>
</div>
