<ul class="mt-5">
  <li>Il y a trois pronoms relatifs composés : auquel, lequel et duquel.</li>
  <li>On les accorde en genre et en nombre avec l'antécédent : par exemple auxquelles, lesquels, desquels...</li>
  <li>Ils peuvent être doublés d'une préposition (avec, sur, devant, pour...).</li>
</ul>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="headers">
        <td></td>
        <td><p>Pronoms</p></td>
        <td><p>Exemples</p></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="headers">
          <p>Préposition à + lequel</p>
        </td>
        <td>
          <p style="color: blue;">auquel / à laquelle / auxquels / auxquelles</p>
        </td>
        <td>
          <p>"Les cours <span style="color: blue;">auxquels</span> j'ai participé étaient très intéressants."</p>
          <p>"Les tuteurs <span style="color: blue;">auxquels</span> j'ai écrit ont tous répondu."</p>
        </td>
      </tr>
        <td class="headers">
          <p>Prépositions avec de (au lieu de, au cours de, à cause de...) + lequel</p>
        </td>
        <td>
          <p style="color: blue;">duquel / de laquelle / desquels / desquelles</p>
        </td>
        <td>
          <p>"Les maths, c'est la matière <strong>à cause de</strong> <span style="color: blue;">laquelle</span> j'ai raté mon bac."</p>
          <p>"C'est le professeur <strong>à côté</strong> <span style="color: blue;">duquel</span> je travaille."</p>
        </td>
      <tr>
        <td class="headers">
          <p>Autres prépositions (avec, sur, dans, devant, derrière, parmi, pour...) + lequel</p>
        </td>
        <td>
          <p>Préposition <span style="color: blue;">+ lequel / laquelle / lesquels / lesquelles</span></p>
        </td>
        <td>
          <p>"J'ai discuté avec l'étudiant <strong>devant</strong> <span style="color: blue;">lequel</span> j'étais assis."</p>
          <p>"C'est le stylo <strong>avec</strong> <span style="color: blue;">lequel</span> j'ai écrit ma dissertation."</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>