<h2 class="my-5">Qui, que, dont, où</h2>

<ul>
  <li class="mb-1"><u><strong>"Qui"</strong></u> reprend <strong>le sujet</strong> (personne ou chose) du verbe qui suit.</li>
  <em>Exemple : "La <strong>femme</strong> <u>qui</u> passe porte <strong>une robe</strong> <u>qui</u> brille.</em>
  <p><em><strong>La femme</strong> est le sujet du verbe "passer" et <strong>"une robe"</strong> est le sujet de "briller".</em></p>

  <li class="mb-1"><u><strong>"Que"</strong></u> reprend <strong>le complément d'objet (personne ou chose) du verbe qui suit</strong>.</li>
  <em>Exemple : "La <strong>femme</strong> <u>que</u> je regarde porte <strong>une robe</strong> <u>que</u> j'adore.</em>
  <p><strong>"La femme"</strong> est le complément d'objet du verbe "regarder" (je regarde quoi ? La femme) et <strong>une robe</strong> est le complément d'objet de "adorer".
  <em>Attention : on fait l'élision avec "que" mais pas avec "qui" devant une voyelle "la femme qu'il aime est blonde".</em></p>

  <li class="mb-1"><u><strong>"Dont"</strong></u> reprend <strong>le complément d'objet (personne ou chose) introduit par la préposition "de"</strong> (parler de, rêver de, avoir besoin de, avoir peur de...)</li>
  <em>Exemple : <strong>"La femme"</strong> <u>dont</u> je te parle porte une robe qui brille.</em>
  <p><strong>La femme</strong> est le complément d'objet du verbe parler (parler <u>de</u>...)</p>

  <li class="mb-1"><u><strong>"Où"</strong></u> reprend <strong>un complément de lieu ou de temps.</strong></li>
  <em>Exemple : "La ville <u>où</u> je suis née est une petite ville."</em>
  <p><em>Le jour <u>où</u> je suis née était un mercredi.</em></p>
</ul>
