<h2 class="my-5">Vocabulaire</h2>
<div class="description-cards">
  <div class="description-card">
    <ul>
      <li>Order a drink</li>
      <li>A pint of beer</li>
      <li>A cocktail</li>
      <li>A soda</li>
      <li>A non-alcoholic drink</li>
      <li>A glass of red / white wine</li>
      <li>I don't drink alcohol</li>
      <li>I want to have a drink</li>
      <li>I want to eat something</li>
    </ul>
  </div>
  <div class="description-card">
    <ul>
      <li>Commander à boire</li>
      <li>Une pinte de bière</li>
      <li>Un cocktail</li>
      <li>Un soda</li>
      <li>Une boisson sans alcool</li>
      <li>Un verre de vin rouge / blanc</li>
      <li>Je ne bois pas d'alcool</li>
      <li>Je veux boire un verre</li>
      <li>Je veux manger un bout</li>
    </ul>
  </div>
</div>

<h2 class="my-5">Rencontrer quelqu'un pour la premi&egrave;re fois</h2>
<div class="example-grid">
  <%= image_tag "https://images.unsplash.com/photo-1542326891-50b14105a80b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3898&q=80", alt: "bar", class: "example-image" %>
  <div class="example-text text-left">
    <ul>
      <li style="color: blue;">Salut, comment &ccedil;a va&nbsp;?</li>
      <li style="color: red;">G&eacute;nial et toi ? Comment tu t&rsquo;appelles ?</li>
      <li style="color: blue;">&Ccedil;a va tr&egrave;s bien merci. Je m&rsquo;appelle Nicolas.</li>
      <li style="color: red;">Moi c&rsquo;est Lucie, enchant&eacute;e ! T&rsquo;as quel &acirc;ge ?</li>
      <li style="color: blue;">J&rsquo;ai 29 ans, et toi ?</li>
      <li style="color: red;">Moi j&rsquo;ai 25 ans. Tu viens d&rsquo;o&ugrave; ?</li>
      <li style="color: blue;">De Bordeaux ! Et toi ?</li>
      <li style="color: red;">Oh g&eacute;nial, j&rsquo;adore Bordeaux. Moi, je viens de Toulouse.</li>
      <li style="color: blue;">Tu restes combien de temps &agrave; Paris ?</li>
      <li style="color: red;">Je passe l&rsquo;&eacute;t&eacute; ici, j&rsquo;ai trouv&eacute; un petit job de serveuse dans ce bar. Sinon, je suis &eacute;tudiante en &eacute;conomie, en master.</li>
      <li style="color: blue;">Ah ! C&rsquo;est sympa ! Moi je suis ing&eacute;nieur dans l&rsquo;a&eacute;ronautique.</li>
      <li style="color: red;">Int&eacute;ressant. Si tu viens &agrave; Toulouse on pourra se revoir.</li>
      <li style="color: blue;">Avec grand plaisir. Tu veux boire quelque chose ?</li>
      <li style="color: red;">Je vais prendre une pinte, merci beaucoup.</li>
      <li style="color: blue;">Avec plaisir Lucie, on trinque ?</li>
      <li style="color: red;">Tchin tchin ! Sant&eacute; !</li>
      <%= audio_tag 'rencontredanslebar.mp3', controls: true, class: 'mt-2' %>
    </ul>
  </div>
</div>
