<h2 class="my-5">Les informations essentielles</h2>
<div class="description-cards">
  <div class="description-card">
    <p>My name is Sarah.</p>
    <p>I am French.</p>
    <p>I live in Lyon, in France.</p>
    <p>I am 33.</p>
    <p>I have a brother, a husband, and a son.</p>
    <p>I am a dentist.</p>
    <p>I speak French, English and a bit Italian.</p>
  </div>
  <div class="description-card">
    <p>Je m'appelle Sarah.</p>
    <p>Je suis française.</p>
    <p>J'habite à Lyon, en France.</p>
    <p>J'ai 33 ans.</p>
    <p>J'ai un frère, un mari et un fils.</p>
    <p>Je suis dentiste.</p>
    <p>Je parle français, anglais et un peu italien.</p>
    <%= audio_tag 'Sarah1.mp3', controls: true %>
  </div>
</div>

<h2 class="my-5">Les loisirs</h2>
<div class="description-cards">
  <div class="description-card">
    <p>I practice hiking in the mountains.</p>
    <p>I love classical music and jazz.</p>
    <p>My passion is singing.</p>
    <p>I also like to play with my son.</p>
    <p>I like French gastronomy.</p>
    <p>I am vegetarian.</p>
  </div>
  <div class="description-card">
    <p>Je pratique la randonnée en montagne.</p>
    <p>J&rsquo;adore la musique classique et le jazz.</p>
    <p>Ma passion, c'est le chant.</p>
    <p>J&rsquo;aime aussi jouer avec mon fils.</p>
    <p>J&rsquo;adore la gastronomie française.</p>
    <p>Je suis végétarienne.</p>
    <%= audio_tag 'Sarah2.mp3', controls: true %>
  </div>
</div>

<%= image_tag "https://images.unsplash.com/photo-1530986380366-2c4caefe7e4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3667&q=80", alt: "Sarah", class: 'standalone-image my-5' %>
