  <div class="container">
    <h2 class="text-center font-weight-bold mb-5">Pricing</h2>
    <div class="plan-cards-container mt-4">
      <% @plans.each do |plan| %>
        <%= render 'shared/plan-card', plan: plan %>
      <% end %>
    </div>
  </div>
